# ambiente
venv/
venv_*/
.env/

# datasets
datasets/
*.zip

# modelos e checkpoints
*.tar
*.bin
*.pt
*.ckpt
*.safetensors
checkpoints/

# deps (não ignorar tudo!)
deps/**/*.pt
deps/**/*.ckpt
deps/**/*.bin
deps/**/*.tar

# resultados
results/
*.bak
*.save

# cache
__pycache__/
*.pyc
.cache/
.pytest_cache/

# logs e sistema
*.log
.DS_Store