# ambiente
venv/
venv_*/
.env/

# datasets
datasets/
*.npy
*.zip

# modelos e checkpoints
deps/
*.tar
*.bin
*.pt
*.ckpt
*.safetensors

checkpoints/
results/
*.bak
*.save

# cache
__pycache__/
*.pyc
.cache/
.pytest_cache/

# logs e sistema
*.log
.DS_Store